<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% flavours.forEach((icecream) => { %>
        <li><a href="/flavours/<%= icecream.id%>"><%= icecream.name %></a></li>
        <%  }) %>
    </ul>

    <% if (user.isAdmin) { %>
      <a href="/flavours/new">Create new flavours here!</a>
    <% } %>

  </body>
</html>
