<section>
  <h2>Edit your order</h2>
  <form action="/orders/<%= order._id %>/edit" method="POST">
    <label for="name">Type</label>
    <input type="text" id="name" name="name" value="<%= order.type %>">
    <label for="product1">Flavour 1</label>
    <input type="text" name="product1" id="product1" value="<%= order.product1 %>">
    <label for="product1">Flavour 2</label>
    <input type="text" name="product2" id="product2" value="<%= order.product2 %>">
    <label for="product1">Flavour 3</label>
    <input type="text" name="product3" id="product3" value="<%= order.product3 %>">
    <input type="submit" value="Save">
  </form>
</section>
