<section>
  <h2>New order</h2>
  <form action="new" method="post" id="order-form">
    <label for="type">Type</label>
    <input type="radio" name="type" value="cone" id="cone-input">Cone<br>
    <input type="radio" name="type" value="cup" id="cup-input">Cup<br>
    <label for="no-lactose">No lactose</label>
    <input type="checkbox" name="no-lactose" id="no-lactose">
    <label for="no-egg">No egg</label>
    <input type="checkbox" name="no-egg" id="no-egg">
    <label for="no-nuts">No nuts</label>
    <input type="checkbox" name="no-nuts" id="no-nuts">
    <label for="product1">Flavour 1</label>
    <div id="filter1">
      <% flavours.forEach((icecream) => { %>
        <input type="radio" name="flavour1" value="<%= icecream.name %>" id="<%= icecream.id %>"><%= icecream.name %><br>
      <%  }) %>
    </div>
<!--         <input type="text" name="product1" id="product1" value="<%= order.product1 %>">-->    
    <label for="product2">Flavour 2</label>
    <div id="filter2">
    <% flavours.forEach((icecream) => { %>
      <input type="radio" name="flavour2" value="<%= icecream.name %>" id="<%= icecream.id %>"><%= icecream.name %><br>
    <%  }) %>
<!--         <input type="text" name="product2" id="product2" value="<%= order.product2 %>"> -->
    <label for="product3">Flavour 3</label>
    <div id="filter3">
    <% flavours.forEach((icecream) => { %>
      <input type="radio" name="flavour3" value="<%= icecream.name %>" id="<%= icecream.id %>"><%= icecream.name %><br>
    <%  }) %>
<!--         <input type="text" name="product3" id="product3" value="<%= order.product3 %>"> -->
    <input type="submit" value="Save">
  </form>
  <input type="text" value="10" id="price" data-price="10">
</section>


